$color_fondo:grey;
$color_titulo:red;
$color_enlace:white;
$color_menu:black;
$color_hover:blue;


h1{
    color:$color_titulo;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color:$color_fondo;
}

ul{
    display: flex;
    list-style: none;
}

li{
    margin: 20px;
}	

a{
    color:$color_enlace;
    text-decoration: none;
}

a:hover{
    color:$color_hover;
}
